@using MonoviMvcProje.Models.Entity
@model List<TblCategory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MonoviLayout.cshtml";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h2>Kategori Listesi</h2>
<br />
<table class="table table-bordered" style="margin-left:20px">
    <tr>
        <th>Kategori ID</th>
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach(var x in Model)
    {
        <tr>
            <td>@x.CategoryID</td>
            <td>@x.CategoryName</td>
            <td><a href="/Category/DeleteCategory/@x.CategoryID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Category/GetCategory/@x.CategoryID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Category/AddCategory/" class="btn btn-primary">Yeni Kategori Ekle</a>